{% extends "base.html" %}

{% block content %}

<p>
<table class="rounded_corner">
    <thead>
        <tr>
            <th class="rounded_top_left">Name</th>
            <th>Defaults</th>
            <th class="rounded_top_right">Deployment method</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="rounded_bottom_left">{{stage.name}}</td>
            <td>DEFAULTS GO HERE</td>
            <td class="rounded_bottom_right">{{stage.deployment_method.base_command}}</td>
        </tr>
    </tbody>
</table>

{% endblock %}
