{% extends "base.html" %}

{% block content %}

<p>
<b>Last few deployments</b><br>
<table>
{% if deployments %}
    <tr>
        <td>id</td>
        <td>Status</td>
        <td>Environment stage</td>
        <td>User</td>
        <td>Argument overrides</td>
        <td>Comments</td>
    </tr>
{% else %}
    No deployments yet<p>
{% endif %}
{% for d in deployments %}
    <tr>
        <td><a href="{% url g_get_deployment d.id %}">{{d.id}}</a></td>
        <td>{{d.status}}</td>
        <td>{{d.environment_stage.environment.name}} {{d.environment_stage.name}}</td>
        <td>{{d.created_user}}</td>
        <td>{{d.deployment_args_overrides}}</td>
        <td>{{d.comments}}</td>
    </tr>
{% endfor %}
</table>
<br>
<a href="{% url g_create_deployment %}">Create a new deployment</a>
</p>

{% endblock %}
