{% extends "base.html" %}

{% block content %}

{% if deployments %}
<table class="rounded_corner">
    <thead>
        <tr>
            <th class="rounded_top_left">Status</th>
            <th>Environment</th>
            <th>Stage</th>
            <th>User</th>
            <th class="rounded_top_right">Comments</th>
        </tr>
    </thead>
{% for d in deployments %}
    <tr>
        <td class="{{ forloop.last|yesno:"rounded_bottom_left," }}">{{d.status}}</td>
        <td>{{d.environment_stage.environment.name}}</td>
        <td>{{d.environment_stage.name}}</td>
        <td>{{d.created_user}}</td>
        <td class="{{ forloop.last|yesno:"rounded_bottom_right," }}">
            <a href="{% url g_get_deployment d.id %}">{{d.comments}}</a>
        </td>
    </tr>
{% endfor %}
</table>
{% else %}
    No deployments yet<p>
{% endif %}

{% load url from future %}
{% if url_args %}
<form method="post" action="{% url create_url url_args %}">
{% else %}
<form method="post" action="{% url create_url %}">
{% endif %}
{% csrf_token %}

<table>
    <tr>
        <td>Environment stages</td>
        <td>
            <select name="environment_stage_id">
                {% for s in environment_stages %}
                <option value="{{s.id}}">{{s.environment.name}}/{{s.name}}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>Argument overrides</td>
        <td><input type="text" name="deployment_args_overrides" /></td>
    </tr>
    <tr>
        <td>Comments</td>
        <td><input type="text" name="comments" /></td>
    </tr>
</table>
<input type="submit" value="Create deployment!" />
</form>


{% endblock %}
