{% extends "base.html" %}
{% load url from future %}
{% block content %}

<p>
{% if repositories %}
<table class="rounded_corner">
    <thead>
        <tr>
            <th class="rounded_top_left">Name</th>
            <th class="rounded_top_right">Location</th>
        </tr>
    </thead>
    <tbody>
        {% for r in repositories %}
        <tr>
            <td class="{{ forloop.last|yesno:"rounded_bottom_left," }}">{{r.name}}</td>
            <td class="{{ forloop.last|yesno:"rounded_bottom_right," }}">{{r.location}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    No repositories created
{% endif %}

{% include "create.html" %}

{% endblock %}
